* {
  margin: 0;
  padding: 0;
}


.element {
  border: 2px solid black;
  box-shadow: 4px 4px 4px darkgrey;
  height: 75px;
  width: 50px;
  margin: 15px;
  padding: 10px;
}

.element h3, .element p {
  margin: 5px 0;
}

